.header-container {
  display: flex;
  flex-wrap: wrap;
  margin: 3.125rem;
  justify-content: space-between;
}

.menu-nav {
  gap: 2rem;
  display: flex;
  flex-wrap: wrap;
  font-weight: 600;
  font-size: var(--s);
}

.menu-nav a {
  padding: 10px;
}
